<%= form_with(model: municipe, local: true, html: { multipart: true }) do |form| %>

  <% if municipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(municipe.errors.count, t('activerecord.errors.header.one'), t('activerecord.errors.header.other'))} #{pluralize(municipe.errors.count, t('activerecord.errors.prohibited.one'), t('activerecord.errors.prohibited.other'))} #{t('activerecord.errors.body')}" %></h2>
      <ul>
        <% municipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex">
    <div>
      <div>
        <%= form.label :photo, style: "display: block" %>
        <%= form.file_field :photo %>
      </div>
      <div>
        <%= form.label :full_name, style: "display: block" %>
        <%= form.text_field :full_name %>
      </div>

      <div>
        <%= form.label :cpf, style: "display: block" %>
        <%= form.text_field :cpf, placeholder: 'Ex.:000.000.000-00', maxlength: 14 %>
      </div>

      <div>
        <%= form.label :cns, style: "display: block" %>
        <%= form.text_field :cns %>
        <%= button_tag t('.generate_cns'), type: "button", onclick: "generateCNS()" %>
      </div>

      <div>
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email, placeholder: 'Ex.:example@domain.com' %>
      </div>

      <div>
        <%= form.label :email_confirmation, style: "display: block" %>
        <%= form.text_field :email_confirmation, placeholder: 'Ex.:example@domain.com', autocomplete: 'off' %>
      </div>

      <div>
        <%= form.label :birth_date, style: "display: block" %>
        <%= form.date_field :birth_date %>
      </div>

      <div>
        <%= form.label :phone_number, style: "display: block" %>
        <%= form.text_field :phone_number, placeholder: 'Ex.:(21) 965045799', maxlength: 11 %>
      </div>

      <div>
        <%= form.label :status, 'Status', style: "display: block" %>
        <%= form.select :status, Municipe.statuses.keys.map { |s| [I18n.t("activerecord.attributes.municipe.status.#{s}"), s] } %>
      </div>
    </div>
    <div>
      <%= form.fields_for :address do |address_form| %>
        <div>
          <%= address_form.label :cep, style: "display: block" %>
          <%= address_form.text_field :cep, placeholder: 'Ex.:00000-000' %>
        </div>
        <div>
          <%= address_form.label :street, style: "display: block" %>
          <%= address_form.text_field :street %>
        </div>
        <div>
          <%= address_form.label :complement, style: "display: block" %>
          <%= address_form.text_field :complement %>
        </div>
        <div>
          <%= address_form.label :neighborhood, style: "display: block" %>
          <%= address_form.text_field :neighborhood %>
        </div>
        <div>
          <%= address_form.label :city, style: "display: block" %>
          <%= address_form.text_field :city %>
        </div>
        <div>
          <%= address_form.label :state, style: "display: block" %>
          <%= address_form.text_field :state %>
        </div>
        <div>
          <%= address_form.label :ibge_code, style: "display: block" %>
          <%= address_form.text_field :ibge_code %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit t('.save'), data: {turbo_submits_with: t('.turbo_submit')} %>
  </div>
<% end %>

<script type="text/javascript">
    function generateCNS() {
        var cnsField = document.getElementById('municipe_cns');

        if (cnsField) {
            var gera0 = Math.floor((Math.random() * 3) + 1);

            if (gera0 == 3) {
                gera0 = Math.floor((Math.random() * 3) + 7);
            }

            var gera1 = Math.floor((Math.random() * 99999) + 1);
            var gera2 = Math.floor((Math.random() * 99999) + 1);

            var cns = gera0 + ('0' + gera1).slice(-5) + ('0' + gera2).slice(-5);
            var soma = (((Number(cns.substring(0, 1))) * 15) +
                ((Number(cns.substring(1, 2))) * 14) +
                ((Number(cns.substring(2, 3))) * 13) +
                ((Number(cns.substring(3, 4))) * 12) +
                ((Number(cns.substring(4, 5))) * 11) +
                ((Number(cns.substring(5, 6))) * 10) +
                ((Number(cns.substring(6, 7))) * 9) +
                ((Number(cns.substring(7, 8))) * 8) +
                ((Number(cns.substring(8, 9))) * 7) +
                ((Number(cns.substring(9, 10))) * 6) +
                ((Number(cns.substring(10, 11))) * 5));

            var resto = soma % 11;
            var dv = 11 - resto;

            dv = (dv == 11) ? 0 : dv;

            if (dv == 10) {
                soma = (((Number(cns.substring(0, 1))) * 15) +
                    ((Number(cns.substring(1, 2))) * 14) +
                    ((Number(cns.substring(2, 3))) * 13) +
                    ((Number(cns.substring(3, 4))) * 12) +
                    ((Number(cns.substring(4, 5))) * 11) +
                    ((Number(cns.substring(5, 6))) * 10) +
                    ((Number(cns.substring(6, 7))) * 9) +
                    ((Number(cns.substring(7, 8))) * 8) +
                    ((Number(cns.substring(8, 9))) * 7) +
                    ((Number(cns.substring(9, 10))) * 6) +
                    ((Number(cns.substring(10, 11))) * 5) + 2);

                resto = soma % 11;
                dv = 11 - resto;
                cns += '001' + String(dv);
            } else {
                cns += '000' + String(dv);
            }

            cnsField.value = cns;
        }
    }
</script>

