<%= form_with(model: municipe, local: true, html: { multipart: true }) do |form| %>

  <% if municipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(municipe.errors.count, t('activerecord.errors.header.one'), t('activerecord.errors.header.other'))} #{pluralize(municipe.errors.count, t('activerecord.errors.prohibited.one'), t('activerecord.errors.prohibited.other'))} #{t('activerecord.errors.body')}" %></h2>
      <ul>
        <% municipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :photo, style: "display: block" %>
    <%= form.file_field :photo %>
  </div>
  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, placeholder: '000.000.000-00', maxlength: 14 %>
  </div>

  <div>
    <%= form.label :cns, style: "display: block" %>
    <%= form.text_field :cns %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :status, 'Status', style: "display: block" %>
    <%= form.select :status, Municipe.statuses.keys.map { |s| [I18n.t("activerecord.attributes.municipe.status.#{s}"), s] } %>
  </div>

  <div>
    <%= form.submit t('.save') %>
  </div>
<% end %>
