<tr id="<%= dom_id municipe %>" class="<%= cycle('bg-gray-100', 'bg-gray-200') %>">
  <td class="py-2 px-4 border-b"><%= municipe.full_name %></td>
  <td class="py-2 px-4 border-b"><%= municipe.cpf %></td>
  <td class="py-2 px-4 border-b"><%= municipe.cns %></td>
  <td class="py-2 px-4 border-b"><%= municipe.email %></td>
  <td class="py-2 px-4 border-b"><%= municipe.birth_date %></td>
  <td class="py-2 px-4 border-b"><%= municipe.phone_number %></td>
  <td class="py-2 px-4 border-b"><%= municipe.status %></td>
</tr>
