<div class="flex-column">
  <p style="color: green"><%= notice %></p>

  <h1 class="block"><%= t('.title') %></h1>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
      <tr>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.photo') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.full_name') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.cpf') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.cns') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.email') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.birth_date') %></th>
        <th class="py-2 px-4 border-b"><%= I18n.t('activerecord.attributes.municipe.phone_number') %></th>
        <th class="py-2 px-4 border-b"><%= t('.status') %></th>
        <th class="py-2 px-4 border-b"><%= t('.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @municipes %>
      </tbody>
    </table>
  </div>

  <%= link_to t('.add_municipe'), new_municipe_path %>
</div>