
<div class="h-full p-8">
  <div class="bg-white rounded-lg shadow-xl pb-8">
    <div class="w-full h-[250px]">
      <%#=# TODO: Alterar imagem conforme status %>
      <img src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg" class="w-full h-full rounded-tl-lg rounded-tr-lg">
    </div>
    <div class="flex flex-col items-center -mt-20">
      <%= image_tag @municipe.photo, class: 'w-40 border-4 border-white rounded-full' if @municipe.photo.attached? %>
      <div class="flex items-center space-x-2 mt-2">
        <p class="text-2xl"><%= @municipe.full_name %></p>
        <span class="bg-blue-500 rounded-full p-1" title="Verified">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
                        </svg>
                    </span>
      </div>
      <p class="text-gray-700"><%= @municipe.email %></p>
      <p class="text-sm text-gray-500"><%= @municipe.address.city %>, <%= @municipe.address.state %></p>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
      <div class="flex items-center space-x-4 mt-2">
      </div>
    </div>
  </div>

  <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-2">
    <div class="w-full flex gap-2">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-6">
        <h4 class="text-xl text-gray-900 font-bold"><%= t '.personal_info' %></h4>
        <ul class="mt-2 text-gray-700">
          <li><%= I18n.t('activerecord.attributes.municipe.full_name') %>: <%= @municipe.full_name %></li>
          <li><%= I18n.t('activerecord.attributes.municipe.cpf') %>: <%= @municipe.cpf %></li>
          <li><%= I18n.t('activerecord.attributes.municipe.cns') %>: <%= @municipe.cns %></li>
          <li><%= I18n.t('activerecord.attributes.municipe.email') %>: <%= @municipe.email %></li>
          <li><%= I18n.t('activerecord.attributes.municipe.birth_date') %>: <%= I18n.l(@municipe.birth_date) %></li>
          <li><%= I18n.t('activerecord.attributes.municipe.phone_number') %>: <%= phone_formatter(@municipe.phone_number) %></li>
          <li><%= t '.status' %>: <%= t("activerecord.attributes.municipe.status.#{@municipe.status}") %></li>
          <%= button_to t('.toggle_status'), toggle_status_municipe_path(@municipe), method: :patch, data: { turbo_action: 'replace' }, class: 'hover:underline' %>
        </ul>
      </div>
      <div class="flex-1 bg-white rounded-lg shadow-xl p-6">
        <h4 class="text-xl text-gray-900 font-bold"><%= t '.address_info' %></h4>
        <ul class="mt-2 text-gray-700">
          <li><%= I18n.t('activerecord.attributes.address.city') %>: <%= @municipe.address.city %></li>
          <li><%= I18n.t('activerecord.attributes.address.state') %>: <%= @municipe.address.state %></li>
          <li><%= I18n.t('activerecord.attributes.address.neighborhood') %>: <%= @municipe.address.neighborhood %></li>
          <li><%= I18n.t('activerecord.attributes.address.street') %>: <%= @municipe.address.street %></li>
          <li><%= I18n.t('activerecord.attributes.address.complement') %>: <%= @municipe.address.complement %></li>
          <li><%= I18n.t('activerecord.attributes.address.cep') %>: <%= @municipe.address.cep %></li>
          <li><%= I18n.t('activerecord.attributes.address.ibge_code') %>: <%= @municipe.address.ibge_code %></li>
        </ul>
      </div>
    </div>
  </div>
</div>