<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Cadastro Realizado com Sucesso</h1>
<p>Olá <%= @municipe.full_name %>,</p>
<p>Seu cadastro foi realizado com sucesso.</p>

<div class="h-full p-8">

  <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-2">
    <div class="w-full flex gap-2">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-6">
        <h4 class="text-xl text-gray-900 font-bold">Informações Pessoais</h4>
        <ul class="mt-2 text-gray-700">
          <li>Nome: <%= @municipe.full_name %></li>
          <li>Cpf: <%= @municipe.cpf %></li>
          <li>CNS: <%= @municipe.cns %></li>
          <li>E-mail: <%= @municipe.email %></li>
          <li>Nascimento: <%= I18n.l(@municipe.birth_date) %></li>
          <li>Telefone: <%= @municipe.phone_number %></li>
        </ul>
      </div>
      <div class="flex-1 bg-white rounded-lg shadow-xl p-6">
        <h4 class="text-xl text-gray-900 font-bold">Informações de Endereço</h4>
        <ul class="mt-2 text-gray-700">
          <li>Cidade: <%= @municipe.address.city %></li>
          <li>UF: <%= @municipe.address.state %></li>
          <li>Bairro: <%= @municipe.address.neighborhood %></li>
          <li>Complemento: <%= @municipe.address.complement %></li>
          <li>CEP: <%= @municipe.address.cep %></li>
          <li>Código IBGE: <%= @municipe.address.ibge_code %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
